<%= link_to 'Back to game', game_path(game) %>
<%= form_with url: start_auction_path do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :company, style: "display: block" %>
    <%= form.select :company, game.available_companies_for_auction.map { |c| [c,c] } %>
  </div>

  <div>
    <%= form.label :bid, style: "display: block" %>
    <%= form.number_field :bid, in: 1..100 %>
  </div>

  <div>
    <%= form.submit 'Start auction' %>
  </div>
<% end %>

<%= form_with url: pass_action_path do |form| %>
  <div>
    <%= form.hidden_field :action_type, value: 'auctions' %>
  </div>
  <div>
    <%= form.submit 'Pass auction' %>
  </div>
<% end %>
