<article class="action">
  <header class="<%= data[:available] %>"><%= action.capitalize %>
  </header>
  <section><%= data[:actions_left] %>/<%= data[:max] %>
  </section>
  <footer>
    <% if !game.user_acting? user %>
      <%= content_tag(:span, "") %>
    <% elsif game.phase? :bidding %>
      <%= content_tag(:span, "") %>
    <% elsif data[:actions_left].nonzero? %>
      <%= link_to action.capitalize, data[:link] %>
    <% else %>
      <%= content_tag :s, action.capitalize %>
    <% end %>
  </footer>
</article>
