<div class="auction-container">
  <article class="auction">
    <%= tag.header game.state['auction'].capitalize, class: [game.state['auction']] %>
    <%= tag.section game.state['high_bid'], class: "high-bid" %>
    <%= tag.section "From "+game.high_bidder_name, class: "high-bidder" %>

    <% if game.players.size > 2 %>
      <%= content_tag :section, class: "passers" do |content| %>
        <h4>Passers</h4>
        <%= content_tag :ol do |list| %>
          <% game.state['passers'].each do |passer| %>
            <%= tag.li passer %>
          <% end %>
        <% end %> 
      <% end %>
    <% end %>
    <%= content_tag :footer do %>
      <%= link_to "Bid", new_bid_path(game) %>
    <% end %>
  </article>
</div>
