<%= link_to 'Back to game', game_path(@game) %>
<%= form_with url: game_builds_path do |form| %>
  <% if @game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% @game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div data-controller="hex" data-hex-selected-class="selected">
    <%= render 'games/board' %>
    <div>
      <%= form.text_field "hex[]", {data: { 'hex-target'=> 'input'}} %>
      <%= form.text_field "hex[]", {data: { 'hex-target'=> 'input'}} %>
      <%= form.text_field "hex[]", {data: { 'hex-target'=> 'input'}} %>
    </div>

    <div>
      <%= form.submit 'Build' %>
    </div>
  </div>
<% end %>
