<div id="<%= dom_id(game) %>" class="game">
  <div class="state-container">

    <%= turbo_frame_tag "auction-frame", target: "board-frame" do %>
      <%= render 'games/auction', game: game, user: user if game.phase?(:bidding) and game.state['auction'] %>
      <%= render 'games/actions', game: game, user: user if game.started? %>
    <% end %>
    <%= render 'games/players', game: game if game.started? %>
    <%= render 'games/companies', game: game if game.started? %>

  </div>

  <div class="board-container">
    <%= turbo_frame_tag "board-frame" do %>
      <%= render 'games/board', game: game %>
    <% end %>
  </div>
</div>
