<div id="<%= dom_id(game) %>" class="game">
  <div class="state-container">

    <%= render 'games/auction', game: game if game.phase?(:bidding) and game.state['auction'] %>
    <%= render 'games/actions', game: game if game.started? %>
    <%= render 'games/players', game: game if game.started? %>
    <%= render 'games/companies', game: game if game.started? %>

  </div>

  <div class="board-container">
    <p>
      <strong>Board:</strong>
      <%= render 'games/board', game: game %>
    </p>

  </div>
</div>
