<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <%= render 'games/companies' if @game.started? %>
  <%= render 'games/actions' if @game.started? %>

  <p>
      <strong>Started:</strong>
      <% if start_time = game.started %>
        <time datetime="<%= start_time %>"><%= start_time %></time>
      <% else %>
        not started
      <% end %>
  </p>
  <p>
    <strong>Joined:</strong>
    <ol>
      <% game.game_players.each do |game_player| %>
        <li><%= game_player.user_id %> seat:<%= game_player.seat %></li>
      <% end %>
    </ol>
  </p>

  <% if @game.started? %>
    <p>
      <strong>Acting:</strong>
      <%= @game.acting_player.id %>
    </p>
  <% end %>
  <p>
    <strong>Phase:</strong>
    <%= @game.phase %>
  </p>

  <p>
    <strong>Board:</strong>
    <%= render 'games/board' %>
  </p>

  <p>
    <strong>State:</strong>
    <pre>
      <%= JSON.pretty_generate(game.state.except('hexes')) %>
    </pre>
  </p>
</div>
