<%= form_with url: game_joins_path do |form| %>
  <%# handle errors? %>

  <div>
    <%= form.label :game, style: "display: none" %>
    <%= form.hidden_field :game_id, value: @game.id %>
  </div>

  <div>
    <%= form.label :user, style: "display: none" %>
    <%= form. hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.submit 'Join' %>
  </div>
<% end %>
